@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background-dark: var(--bg-dark);
  --color-background: var(--bg);
  --color-background-light: var(--bg-light);

  /* Text */
  --color-text: var(--text);
  --color-text-muted: var(--text-muted);
  --color-highlight: var(--highlight);
  --color-border: var(--border);
  --color-border-muted: var(--border-muted);
}

:root {
  --bg-dark: oklch(0.92 0.055 283);
  --bg: oklch(0.96 0.055 283);
  --bg-light: oklch(1 0.055 283);
  --text: oklch(0.15 0.11 283);
  --text-muted: oklch(0.4 0.11 283);
  --highlight: oklch(1 0.11 283);
  --border: oklch(0.6 0.11 283);
  --border-muted: oklch(0.7 0.11 283);
}

.dark {
  --bg-dark: oklch(0.1 0.055 283);
  --bg: oklch(0.15 0.055 283);
  --bg-light: oklch(0.2 0.055 283);
  --text: oklch(0.96 0.1 283);
  --text-muted: oklch(0.76 0.1 283);
  --highlight: oklch(0.5 0.11 283);
  --border: oklch(0.4 0.11 283);
  --border-muted: oklch(0.3 0.11 283);
}

* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #94a3b8 transparent; /* thumb | track */
}

/* For Chrome, Safari and Edge */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #94a3b8; /* Tailwind slate-400 */
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #64748b; /* Tailwind slate-500 */
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  background: var(--bg);
  color: var(--text);
}

@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s ease infinite;
  }
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Utility to hide scrollbars but keep scrolling */
.no-scrollbar,
.no-scrollbar * {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.no-scrollbar {
  scrollbar-gutter: stable;
}
